<header class="container mx-auto px-2 clearfix">
  <ul class="list-reset mt-lg-1 mb-2 mb-lg-1">
    <li class="inline-block">
      <a class="align-middle link-primary mr-2 mr-lg-0 ml-lg-2 text-accent" href="{{ site.baseurl }}/">
        {{ site.title }}
      </a>
    </li>
    {% for my_page in site.pages %}
      {% unless my_page.exclude_from_nav %}
        {% if my_page.title %}
        <li class="inline-block">
          {% if page.title == my_page.title %}
          <u>
          {% endif %}
          <a class="align-middle link-primary mr-2 mr-lg-0 ml-lg-2" href="{{ my_page.url | prepend: site.baseurl }}">
            {{ my_page.title }}
          </a>
          {% if page.title == my_page.title %}
          </u>
          {% endif %}
        </li>
        {% endif %}
      {% endunless %}
    {% endfor %}
  </ul>
</header>
