---
layout: default
---

<div class="home">
  <h1>
    {{ site.title }}
  </h1>

  <div>
  {{ site.description }}
  </div>

  <hr class="ruler" />

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <p><i>{{ post.excerpt | truncatewords: 35 }}</i></p>
      </li>
    {% endfor %}
  </ul>
</div>
